
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.display-flex{
    display: flex;
}
#one,#two,#three{
    display: block;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 16px;
    font: weight 400px;
    color: #8987A1;
}
.nav-link-bold{
    text-decoration: none;
    font-weight: bold;
    color: #252432;
}
.nav-link-regular{
    text-decoration: none;
    font-weight: 400px;
    color: #252432;
}
.link-items{
    gap: 48px;
}
nav{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
.banner{
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;

}
.banner-title{
    font-weight: bold;
    font-size: 4.06rem;
    color: #000000;


}
.title-branch{
    color: #E95A08;
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    font-weight: 400;

}
.our-plants{
    max-width: 1140px;
    margin: 0 auto;

}
.our-plant-para{
    justify-content: center;
    text-align: center;

}
.our-plant-title{
    font-size: 3.1rem;
    font-weight: bold;

}
.our-plant-title-branch{
    color: #E95A08;

}
.our-plant-description{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);


}
.our-plant-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);


}
.our-store-description{
    font-size: 1.3rem;
    font-weight: 500;
    color: #111111;
    

}
.our-store-price{
    font-weight: bold;
    font-size: 1.3rem;
    color: #111111;
    margin-top: 20px;


}
.btn-primary{
    background-color: #E95A08;
    color: #ffffff;
    padding: 26px 50px;
    font-size: 1rem;
    font-weight: 600;
    width: 270px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;

}
.plant-item{
    text-align: center;
}
.flower-lover{
    max-width: 1140px;
    margin: 200px auto;
    gap: 60px;
}
.flower-store-title{
    font-size: 3.1rem;
    font-weight: bold;
    color: #000000;

}
.flower-store-points{

    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.join{
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.join-details{
    
    text-align: center;
    padding:  100px 20px;
}
.join-title{
    font-weight: bold;
    font-size: 3.1rem;
    color: #ffffff;
    margin-bottom: 20px;
}
.join-input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
}
.input{
    width: 400px;
    max-width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    border: none;
}
.footer{
    
    max-width: 1140px;
    max-height: 248px;
    margin: 50px auto;
    justify-content: space-around;

}
.logo-description{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

}
.link-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 30px;
    

    
}

.menu-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #6B7280;




}
.social{
    width: 216px;
    height: 36px;

}
.latest-deals{
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}
.latest-deals img{
    border-radius: 20px;
}
.latest-deals-title{
      font-size: 3.1rem;
      font-weight: bold;


}
.branch{
    color: #E95A08;
}
.latest-deals-description{
    font-size: 1.3;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

}
.collage{
    
    
    gap: 25px;
    margin-bottom: 30px;
}
.image1{
    margin-bottom: 20px;

}
.one-image{
    width: 753px;
}

@media screen and (max-width: 576px) {
    .nav{
        justify-content: space-between;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .flower-lover{
        flex-direction: column;
    }
    .our-plant-card{
        grid-template-columns: repeat(2,1fr);
    }
    .join {
    height: auto;
    padding: 60px 20px;
  }

  .join-title {
    font-size: 2rem;
  }

  .join-input {
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: 100%;
    max-width: 300px;
  }
.footer{
    flex-direction: column;
}
.link-menu{
    grid-template-columns: repeat(1,1fr);
}
#one,#two,#three{
    display: none;
}
.collage{
    flex-direction: column;
    
}
    
    

}
